/**** COLORI ****/
/* #027333 */
/* #012340 */
/* #00747C */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 22px;
}
.header {
  position: fixed;
  background-color: #027333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding-right: 10px;
  font-size: 22px;
}
.menu a:hover {
  color: #012340;
}
.hero {
  height: 100vh;
  width: 100%;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00747c;
}
.hero-image {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: rotate;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.presentation {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.presentation p {
  padding-left: 30px;
  font: size 26px;
}
.button {
  font-size: 60px;
  margin-top: 30px;
  border: 1px;
  border-radius: 15px;
}
.button:hover {
  background-color: #027333;
  cursor: pointer;
}
.button a {
  text-decoration: none;
  color: black;
}
#servizi1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #012340;
}
.image {
  height: 100%;
  width: 75%;
  padding-left: 20px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer {
  width: 100%;
  height: 400px;
  background-color: #00747c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
