<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Negozio</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <a href="/men">Vai all'abbigliamento per uomo</a><br />
    <a href="/women">Vai all'abbigliamento per donna</a><br />
    <a href="/children">Vai all'abbigliamento per bambini</a>
  </body>
</html>