<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Men</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    {{#each clothes}}
      <div>
        <h3>{{this.name}}</h3>
        <p>Prezzo:{{this.price}}</p>
        <p>Taglia:{{this.size}}</p>
      </div>
    {{/each}}
  </body>
</html>