<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Endpoint</title>
  </head>
  <body>
    <h1>Endpoint disponibili</h1>
    <ul>
      <li><a href="/api/data">/api/data</a></li>
    </ul>
    <a href="/">Torna alla home page</a>
  </body>
</html>